* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #333333;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  color: #ffffff;
}

.main {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.board {
  border: 1px #333333 solid;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border: 2px #333333 solid;
  color: #333333;
}

.cell:hover {
  background-color: #ffffffd0;
  transition: 150ms;
  cursor: pointer;
}

.turn-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 1.5rem;
  gap: 12px;

  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form > input[type="text"] {
  font-size: 1rem;
  padding: 5px;
  padding-left: 1ch;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
  padding: 20px;
  font-size: 1rem;
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.not-visible {
  display: none;
}
